<!DOCTYPE html>
<html>
<head>
	<title>Github Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<div class="container">
		<header class="bg-light py-3 text-center">
			<h1>Hello World!</h1>
		</header>
		<hr/>
		
		<div ng-app="myApp" ng-controller="myCtrl" class="row text-center justify-content-center">
			<div class="col-md-6 col-sm-12">
				<textarea class="form-control" rows="10" placeholder="Nhập Tiếng Việt vào đây..." style="resize: none;" ng-model="input" ng-keyup="trans()"></textarea>
			</div>
			<div class="col-md-6 col-sm-12">
				<textarea class="form-control" rows="10" placeholder="Bản dịch ngôn ngữ VN2.0 (Bùi Hiền)..." style="resize: none;" ng-model="output"></textarea>
			</div>
		</div>
		<hr/>
		
		<footer class="bg-light py-3 text-center">
			<div class="container">
				<a href="#" class="btn btn-secondary mb-1">To the top</a>
				<p>Powered by <a href="https://github.com/gaoadudi/gaoadudi.github.io.git" title="github" target="_blank">My Github</a></p>
			</div>
		</footer>
	</div>
	
	<script>
		var app = angular.module("myApp", []);
            
        app.controller('myCtrl', function($scope) {
            $scope.input = "";
            $scope.output = "";
            $scope.trans = function() {
				let str = $scope.input;
                str = str.replace(/c/gi, "k");
				str = str.replace(/kh/gi, "ch");
				str = str.replace(/ch/gi, "c");
				str = str.replace(/tr/gi, "c");
				str = str.replace(/đ/gi, "d");
				str = str.replace(/gh/gi, "g");
				str = str.replace(/ph/gi, "f");
				str = str.replace(/q/gi, "k");
				str = str.replace(/ng/gi, "q");
				str = str.replace(/ngh/gi, "q");	
				str = str.replace(/kh/gi, "x");
				str = str.replace(/th/gi, "w");
				str = str.replace(/d/gi, "z");
				str = str.replace(/gi/gi, "z");
				str = str.replace(/r/gi, "z");	
				str = str.replace(/nh/gi, "n'");
				$scope.output = str;
            }
        });
	</script>
</body>
</html>