@font-face{
	font-family: Open Sans;
	src:url("Open_Sans/OpenSans-Light.ttf");
}
*{
	margin: 0;
	padding: 0;
	font-family: Open Sans;
}
.logo-mi{
	width: 30px;
}
.btn-buy{
	padding: 0px !important;
}
.btn-buy:hover{
	color: white !important;
	background-color: orange !important;
}
.btn-link:hover{
	text-decoration: none !important;
}
.android-one-title{
	text-align: center !important;
}
.android-one-logo{
	padding: auto !important;
	width: 200px;
}
.list-group-item{
	border: none !important;
	text-align: center !important;
	font-size: 12px;
}
